<main>

  <div class="landing-page">
    <div class="landing-text-inner">
      <h1>ParseXMLtoJSON</h1>
      <a class='btn' href="/XMLtoJSON">View BACS Document (library:xml2js)</a>
      <a class='btn' href="/XMLtoJSONmanually">View BACS Document (No library)</a>
      <h3 class="sub-title">View the pasrsed XML</h3>
      <a class='btn' href="/saveBACSdocument">Save and View BACS Document</a>
      <a class='btn' href="/saveDebitItem">Save and View Debit Item</a>
      <h3 class="sub-title">Save the parsed JSON to the database(data parsed from xml2json</h3>
      <a class='btn' href="/saveBACSdocumentManually">Save and View BACS Document</a>
      <h3 class="sub-title">Save the parsed JSON to the database (No library)</h3>



    </div>
  </div>

</main>